In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Sources/Fundraising Strategy - Step 2, 03.31.21.csv"
donation_data = pd.read_csv(step2)
donation_data

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Expenses FY20
0,Sponsor a Scholar,1: Individual Giving,"$23,812.68",$0.00,30,$0.00,"$25,213.95",$0.00,75.0,$0.00
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,"$3,724.12",$0.00,coming soon,$0.00,"$3,610.00",$3.50,20.0,$0.00
2,Appeal - June,1: Individual Giving,"$5,525.97",$0.00,27,$210.06,"$2,095.00",$341.23,20.0,$0.00
3,Appeal - December,1: Individual Giving,"$10,417.13",$283.65,coming soon,$0.00,"$9,637.11",$459.55,20.0,$224.92
4,Online appeal - Giving Tuesday,1: Individual Giving,"$7,332.46",$0.00,coming soon,$0.00,"$8,544.94","$1,499.08",36.0,$25.50
5,Online event - Starfish Search,1: Individual Giving,"$1,037.00",$0.00,coming soon,$95.00,"$1,268.00",$7.50,50.0,$302.00
6,Online event - Starfish Bracket Challenge,1: Individual Giving,$0.00,$0.00,5,$175.00,"$1,115.00",$230.00,30.0,$0.00
7,Lapsed Donors,1: Individual Giving,$0.00,$0.00,coming soon,$0.00,$400.00,$0.00,8.0,$0.00
8,Benefit dinner tickets,1: Individual Giving,"$4,817.12",$384.79,538,$583.33,"$4,010.00","$13,490.62",300.0,"$1,000.00"
9,Benefit dinner individual donations,1: Individual Giving,"$8,250.40",$0.00,0,$583.33,"$2,825.00",$0.00,0.0,"$1,000.00"
10,Benefit dinner auction,1: Individual Giving,"$9,808.13","$9,243.06",152,$803.34,"$11,491.00","$12,455.15",300.0,"$1,341.00"
11,Events - CT/NE,1: Individual Giving,"$5,402.80","$1,774.46",coming soon,$249.99,$309.00,$22.00,10.0,$167.14
12,Events - not recurring,1: Individual Giving,$309.30,$0.00,0,$0.00,"$2,920.00","$3,578.27",60.0,$316.00
13,Events - Ecuador,1: Individual Giving,$0.00,$0.00,0,$0.00,"$1,213.60",$0.00,80.0,$24.14
14,Birthdays and weddings,1: Individual Giving,"$4,159.77",$0.00,3,$0.00,"$6,049.31",$0.00,3.0,$0.00
15,Unsolicited Gifts,1: Individual Giving,"$7,377.92",$0.00,3,$0.00,"$7,505.66",$0.00,3.0,$0.00
16,Benefit dinner sponsorships (5),2: Major Donors,"$50,000.00",$0.00,57,$0.00,"$87,500.00",$0.00,30.0,$0.00
17,University Efforts,2: Major Donors,$0.00,$0.00,1,$0.00,"$1,016.00",$0.00,1.0,$0.00
18,Other Major Donors,2: Major Donors,"$34,475.00",$0.00,0,$0.00,"$44,200.00",$0.00,0.0,$0.00
19,Grants,3: Grants,"$8,750.00",$0.00,6,$0.00,"$1,500.00",$0.00,1.0,$0.00
20,Benefit dinner sponsorships (1),4: Corporations,$520.56,$0.00,1,$0.00,$500.00,$0.00,1.0,$0.00
21,Matching donations (10),4: Corporations,"$22,329.48",$0.00,6,$0.00,"$1,769.19",$0.00,6.0,$0.00
22,Ecua vols/visitors,5: Earned Revenue,$0.00,$0.00,0,$0.00,"$5,487.46",$0.00,6.0,$25.00
23,Benefit dinner item sales,5: Earned Revenue,$601.06,$704.94,11,$0.00,"$1,183.00",$298.23,10.0,$0.00
24,Pura Vida sales,5: Earned Revenue,$32.20,$0.00,1,$0.00,$5.00,$0.00,1.0,$0.00
25,Dream Book sales,5: Earned Revenue,$0.00,$0.00,1,$0.00,$0.00,$0.00,10.0,$0.00
26,Popsocket sales,5: Earned Revenue,$20.00,$0.00,1,$0.00,$0.00,$0.00,1.0,$0.00
27,Photo sales,5: Earned Revenue,$0.00,$0.00,1,$0.00,$40.00,$0.00,10.0,$0.00
28,Mask sales,5: Earned Revenue,$537.40,$284.25,NaN,$0.00,$0.00,$0.00,0.0,$0.00
29,Speaking events,5: Earned Revenue,$0.00,$0.00,0,$0.00,$414.00,$0.00,4.0,$0.00
30,Amazon Smile,5: Earned Revenue,$310.16,$0.00,1,$0.00,$192.33,$0.00,1.0,$0.00
31,CafePress,5: Earned Revenue,$0.00,$0.00,0,$0.00,$0.00,$0.00,0.0,$0.00
32,Goodshop,5: Earned Revenue,$0.00,$0.00,0,$0.00,$0.00,$0.00,0.0,$0.00
33,Restricted,NaN,"$1,000.00",$0.00,0,$0.00,$0.00,$0.00,0.0,$0.00
34,NaN,NaN,"$210,550.66","$12,675.15",NaN,"$2,700.05","$232,014.55","$32,385.13",NaN,"$4,425.70"
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$68.76,NaN,$386.63
36,Thank-a-thon,No bucket,$0.00,$188.80,NaN,$0.00,NaN,NaN,NaN,NaN
37,4th quarter press,No bucket,$0.00,$0.00,NaN,$0.00,NaN,NaN,NaN,NaN
38,Instagram Giveaway,No bucket,$0.00,$0.00,NaN,$100.00,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,received FY21,April 21 dinner,"$32,994.98",$218.17,NaN,"$1,350.00",NaN,NaN,NaN,NaN
41,NaN,April 20 dinner,23358.7,"$2,554.97",NaN,$250.00,NaN,NaN,NaN,NaN

In [3]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations = FY20_donations.iloc[:33,:]
FY20_donations.head()

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,2095.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0

In [4]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_Income

232014.55

In [6]:
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()


FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations.to_csv("./ExcelOutputs/Buckets-FY20-totals.csv", encoding="utf-8", index=True)
FY20_donations

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.109,0.000,0.068
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.016,0.000,0.018
2,Appeal - June,1: Individual Giving,2095.00,341.23,20.0,0.009,0.011,0.018
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.042,0.014,0.018
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.037,0.046,0.033
5,Online event - Starfish Search,1: Individual Giving,1268.00,7.50,50.0,0.005,0.000,0.046
6,Online event - Starfish Bracket Challenge,1: Individual Giving,1115.00,230.00,30.0,0.005,0.007,0.027
7,Lapsed Donors,1: Individual Giving,400.00,0.00,8.0,0.002,0.000,0.007
8,Benefit dinner tickets,1: Individual Giving,4010.00,13490.62,300.0,0.017,0.417,0.273
9,Benefit dinner individual donations,1: Individual Giving,2825.00,0.00,0.0,0.012,0.000,0.000
10,Benefit dinner auction,1: Individual Giving,11491.00,12455.15,300.0,0.050,0.385,0.273
11,Events - CT/NE,1: Individual Giving,309.00,22.00,10.0,0.001,0.001,0.009
12,Events - not recurring,1: Individual Giving,2920.00,3578.27,60.0,0.013,0.110,0.055
13,Events - Ecuador,1: Individual Giving,1213.60,0.00,80.0,0.005,0.000,0.073
14,Birthdays and weddings,1: Individual Giving,6049.31,0.00,3.0,0.026,0.000,0.003
15,Unsolicited Gifts,1: Individual Giving,7505.66,0.00,3.0,0.032,0.000,0.003
16,Benefit dinner sponsorships (5),2: Major Donors,87500.00,0.00,30.0,0.377,0.000,0.027
17,University Efforts,2: Major Donors,1016.00,0.00,1.0,0.004,0.000,0.001
18,Other Major Donors,2: Major Donors,44200.00,0.00,0.0,0.191,0.000,0.000
19,Grants,3: Grants,1500.00,0.00,1.0,0.006,0.000,0.001
20,Benefit dinner sponsorships (1),4: Corporations,500.00,0.00,1.0,0.002,0.000,0.001
21,Matching donations (10),4: Corporations,1769.19,0.00,6.0,0.008,0.000,0.005
22,Ecua vols/visitors,5: Earned Revenue,5487.46,0.00,6.0,0.024,0.000,0.005
23,Benefit dinner item sales,5: Earned Revenue,1183.00,298.23,10.0,0.005,0.009,0.009
24,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0,0.000,0.000,0.001
25,Dream Book sales,5: Earned Revenue,0.00,0.00,10.0,0.000,0.000,0.009
26,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0,0.000,0.000,0.001
27,Photo sales,5: Earned Revenue,40.00,0.00,10.0,0.000,0.000,0.009
28,Mask sales,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000
29,Speaking events,5: Earned Revenue,414.00,0.00,4.0,0.002,0.000,0.004
30,Amazon Smile,5: Earned Revenue,192.33,0.00,1.0,0.001,0.000,0.001
31,CafePress,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000
32,Goodshop,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000

In [7]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()
FY20_bucket_totals = FY20_bucket_totals[["Income FY20", "Income_Percentage", "In-Kind Donations FY20", "InKind_Percentage", "Volunteer Hours FY20", "VolHours_Percentage"]]

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

# FY20_bucket_totals.to_csv("./ExcelOutputs/Buckets-FY20-totals.csv", encoding="utf-8", index=True)
FY20_bucket_totals

,Income FY20,Income_Percentage,In-Kind Donations FY20,InKind_Percentage,Volunteer Hours FY20,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$88,207.57",38.1%,"$32,086.90",99.1%,1015.0,92.4%
2: Major Donors,"$132,716.00",57.2%,$0.00,0.0%,31.0,2.8%
3: Grants,"$1,500.00",0.6%,$0.00,0.0%,1.0,0.1%
4: Corporations,"$2,269.19",1.0%,$0.00,0.0%,7.0,0.6%
5: Earned Revenue,"$7,321.79",3.2%,$298.23,0.9%,43.0,3.9%

In [8]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)

# FY20_bucket_ave.to_csv("./ExcelOutputs/Buckets-FY20-avg.csv", encoding="utf-8", index=True)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $5,512.97              $2,005.43                 63.4
2: Major Donors       $44,238.67                  $0.00                 10.3
3: Grants              $1,500.00                  $0.00                  1.0
4: Corporations        $1,134.60                  $0.00                  3.5
5: Earned Revenue        $665.62                 $27.11                  3.9

In [9]:
FY21_FY20 = donation_data
FY21_FY20.replace(regex=['coming soon'], value=0, inplace=True)
FY21_FY20 = FY21_FY20.iloc[:33,:]
# FY21_FY20.replace(regex=['coming soon'], value=np.nan, inplace=True)
# FY21_FY20.dropna(inplace=True)
FY21_FY20[FY21_FY20.columns[2:]] = FY21_FY20[FY21_FY20.columns[2:]].replace('[\$,]', '', regex=True).astype(float)

FY21_FY20.to_csv("./ExcelOutputs/FY21vFY20_clean_campaign_data.csv", encoding="utf-8", index=True)
FY21_FY20

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Expenses FY20
0,Sponsor a Scholar,1: Individual Giving,23812.68,0.00,30.0,0.00,25213.95,0.00,75.0,0.00
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3724.12,0.00,0.0,0.00,3610.00,3.50,20.0,0.00
2,Appeal - June,1: Individual Giving,5525.97,0.00,27.0,210.06,2095.00,341.23,20.0,0.00
3,Appeal - December,1: Individual Giving,10417.13,283.65,0.0,0.00,9637.11,459.55,20.0,224.92
4,Online appeal - Giving Tuesday,1: Individual Giving,7332.46,0.00,0.0,0.00,8544.94,1499.08,36.0,25.50
5,Online event - Starfish Search,1: Individual Giving,1037.00,0.00,0.0,95.00,1268.00,7.50,50.0,302.00
6,Online event - Starfish Bracket Challenge,1: Individual Giving,0.00,0.00,5.0,175.00,1115.00,230.00,30.0,0.00
7,Lapsed Donors,1: Individual Giving,0.00,0.00,0.0,0.00,400.00,0.00,8.0,0.00
8,Benefit dinner tickets,1: Individual Giving,4817.12,384.79,538.0,583.33,4010.00,13490.62,300.0,1000.00
9,Benefit dinner individual donations,1: Individual Giving,8250.40,0.00,0.0,583.33,2825.00,0.00,0.0,1000.00
10,Benefit dinner auction,1: Individual Giving,9808.13,9243.06,152.0,803.34,11491.00,12455.15,300.0,1341.00
11,Events - CT/NE,1: Individual Giving,5402.80,1774.46,0.0,249.99,309.00,22.00,10.0,167.14
12,Events - not recurring,1: Individual Giving,309.30,0.00,0.0,0.00,2920.00,3578.27,60.0,316.00
13,Events - Ecuador,1: Individual Giving,0.00,0.00,0.0,0.00,1213.60,0.00,80.0,24.14
14,Birthdays and weddings,1: Individual Giving,4159.77,0.00,3.0,0.00,6049.31,0.00,3.0,0.00
15,Unsolicited Gifts,1: Individual Giving,7377.92,0.00,3.0,0.00,7505.66,0.00,3.0,0.00
16,Benefit dinner sponsorships (5),2: Major Donors,50000.00,0.00,57.0,0.00,87500.00,0.00,30.0,0.00
17,University Efforts,2: Major Donors,0.00,0.00,1.0,0.00,1016.00,0.00,1.0,0.00
18,Other Major Donors,2: Major Donors,34475.00,0.00,0.0,0.00,44200.00,0.00,0.0,0.00
19,Grants,3: Grants,8750.00,0.00,6.0,0.00,1500.00,0.00,1.0,0.00
20,Benefit dinner sponsorships (1),4: Corporations,520.56,0.00,1.0,0.00,500.00,0.00,1.0,0.00
21,Matching donations (10),4: Corporations,22329.48,0.00,6.0,0.00,1769.19,0.00,6.0,0.00
22,Ecua vols/visitors,5: Earned Revenue,0.00,0.00,0.0,0.00,5487.46,0.00,6.0,25.00
23,Benefit dinner item sales,5: Earned Revenue,601.06,704.94,11.0,0.00,1183.00,298.23,10.0,0.00
24,Pura Vida sales,5: Earned Revenue,32.20,0.00,1.0,0.00,5.00,0.00,1.0,0.00
25,Dream Book sales,5: Earned Revenue,0.00,0.00,1.0,0.00,0.00,0.00,10.0,0.00
26,Popsocket sales,5: Earned Revenue,20.00,0.00,1.0,0.00,0.00,0.00,1.0,0.00
27,Photo sales,5: Earned Revenue,0.00,0.00,1.0,0.00,40.00,0.00,10.0,0.00
28,Mask sales,5: Earned Revenue,537.40,284.25,NaN,0.00,0.00,0.00,0.0,0.00
29,Speaking events,5: Earned Revenue,0.00,0.00,0.0,0.00,414.00,0.00,4.0,0.00
30,Amazon Smile,5: Earned Revenue,310.16,0.00,1.0,0.00,192.33,0.00,1.0,0.00
31,CafePress,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00
32,Goodshop,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.00

In [10]:
FY20_income_test2 = FY21_FY20['Income FY20'].sum()
FY20_income_test2

232014.55

In [11]:
FY21_FY20_buckets = FY21_FY20.groupby(['Bucket'])
FY21vFY20_to_date = FY21_FY20_buckets.sum()
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['Income FY21']/FY21vFY20_to_date['Income FY20']
FY21vFY20_to_date = FY21vFY20_to_date[['Income FY21', 'Income FY20', 'FY21 as % of FY20', 'In-Kind Donations FY21', 'In-Kind Donations FY20', 'Volunteer Hours FY21', 'Volunteer Hours FY20']]

FY21vFY20_to_date["Income FY21"] = FY21vFY20_to_date["Income FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["In-Kind Donations FY21"] = FY21vFY20_to_date["In-Kind Donations FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["Income FY20"] = FY21vFY20_to_date["Income FY20"].map("${:,.2f}".format)
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['FY21 as % of FY20'].map("{:,.1%}".format)
FY21vFY20_to_date["In-Kind Donations FY20"] = FY21vFY20_to_date["In-Kind Donations FY20"].map("${:,.2f}".format)

FY21vFY20_to_date.to_csv("./ExcelOutputs/FY21vFY20_to_date_03.31.21.csv", encoding="utf-8", index=True)
FY21vFY20_to_date

,Income FY21,Income FY20,FY21 as % of FY20,In-Kind Donations FY21,In-Kind Donations FY20,Volunteer Hours FY21,Volunteer Hours FY20
Bucket,,,,,,,
1: Individual Giving,"$91,974.80","$88,207.57",104.3%,"$11,685.96","$32,086.90",758.0,1015.0
2: Major Donors,"$84,475.00","$132,716.00",63.7%,$0.00,$0.00,58.0,31.0
3: Grants,"$8,750.00","$1,500.00",583.3%,$0.00,$0.00,6.0,1.0
4: Corporations,"$22,850.04","$2,269.19","1,007.0%",$0.00,$0.00,7.0,7.0
5: Earned Revenue,"$1,500.82","$7,321.79",20.5%,$989.19,$298.23,16.0,43.0

In [12]:
FY21vFY20_campaigns = donation_data.dropna(how='any')
FY21vFY20_campaigns[FY21vFY20_campaigns.columns[2:]] = FY21vFY20_campaigns[FY21vFY20_campaigns.columns[2:]].replace('[\$,]', '', regex=True).astype(float)
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['Income FY21']/FY21vFY20_campaigns['Income FY20']
FY21vFY20_campaigns = FY21vFY20_campaigns[['Bucket', 'Campaign Name', 'Income FY21', 'Income FY20', 'FY21 as % of FY20']]

FY21vFY20_campaigns["Income FY21"] = FY21vFY20_campaigns["Income FY21"].map("${:,.2f}".format)
FY21vFY20_campaigns["Income FY20"] = FY21vFY20_campaigns["Income FY20"].map("${:,.2f}".format)
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['FY21 as % of FY20'].map("{:,.1%}".format)

FY21vFY20_campaigns.to_csv("./ExcelOutputs/FY21vFY20_campaigns_03.31.21.csv", encoding="utf-8", index=True)
FY21vFY20_campaigns

ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Bucket,Campaign Name,Income FY21,Income FY20,FY21 as % of FY20
0,1: Individual Giving,Sponsor a Scholar,"$23,812.68","$25,213.95",94.4%
1,1: Individual Giving,Sponsor a Scholar - Fund a Thon,"$3,724.12","$3,610.00",103.2%
2,1: Individual Giving,Appeal - June,"$5,525.97","$2,095.00",263.8%
3,1: Individual Giving,Appeal - December,"$10,417.13","$9,637.11",108.1%
4,1: Individual Giving,Online appeal - Giving Tuesday,"$7,332.46","$8,544.94",85.8%
5,1: Individual Giving,Online event - Starfish Search,"$1,037.00","$1,268.00",81.8%
6,1: Individual Giving,Online event - Starfish Bracket Challenge,$0.00,"$1,115.00",0.0%
7,1: Individual Giving,Lapsed Donors,$0.00,$400.00,0.0%
8,1: Individual Giving,Benefit dinner tickets,"$4,817.12","$4,010.00",120.1%
9,1: Individual Giving,Benefit dinner individual donations,"$8,250.40","$2,825.00",292.0%
10,1: Individual Giving,Benefit dinner auction,"$9,808.13","$11,491.00",85.4%
11,1: Individual Giving,Events - CT/NE,"$5,402.80",$309.00,"1,748.5%"
12,1: Individual Giving,Events - not recurring,$309.30,"$2,920.00",10.6%
13,1: Individual Giving,Events - Ecuador,$0.00,"$1,213.60",0.0%
14,1: Individual Giving,Birthdays and weddings,"$4,159.77","$6,049.31",68.8%
15,1: Individual Giving,Unsolicited Gifts,"$7,377.92","$7,505.66",98.3%
16,2: Major Donors,Benefit dinner sponsorships (5),"$50,000.00","$87,500.00",57.1%
17,2: Major Donors,University Efforts,$0.00,"$1,016.00",0.0%
18,2: Major Donors,Other Major Donors,"$34,475.00","$44,200.00",78.0%
19,3: Grants,Grants,"$8,750.00","$1,500.00",583.3%
20,4: Corporations,Benefit dinner sponsorships (1),$520.56,$500.00,104.1%
21,4: Corporations,Matching donations (10),"$22,329.48","$1,769.19","1,262.1%"
22,5: Earned Revenue,Ecua vols/visitors,$0.00,"$5,487.46",0.0%
23,5: Earned Revenue,Benefit dinner item sales,$601.06,"$1,183.00",50.8%
24,5: Earned Revenue,Pura Vida sales,$32.20,$5.00,644.0%
25,5: Earned Revenue,Dream Book sales,$0.00,$0.00,nan%
26,5: Earned Revenue,Popsocket sales,$20.00,$0.00,inf%
27,5: Earned Revenue,Photo sales,$0.00,$40.00,0.0%
29,5: Earned Revenue,Speaking events,$0.00,$414.00,0.0%
30,5: Earned Revenue,Amazon Smile,$310.16,$192.33,161.3%
31,5: Earned Revenue,CafePress,$0.00,$0.00,nan%
32,5: Earned Revenue,Goodshop,$0.00,$0.00,nan%