In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 07.21.20.csv"
donation_data = pd.read_csv(step2)
donation_data.head()

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,"$12,420.45",$0.00,30.0,"$25,213.95",$0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,NaN,$0.00,NaN,"$3,610.00",$3.50,20.0
2,Appeal - June,1: Individual Giving,"$9,641.00",$0.00,27.0,"$25,295.00",$341.23,20.0
3,Appeal - December,1: Individual Giving,NaN,$0.00,NaN,"$9,637.11",$459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,NaN,$0.00,NaN,"$8,544.94","$1,499.08",36.0

In [2]:
FY20_donations = donation_data
# FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,12420.45,0.00,30.0,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,NaN,0.00,NaN,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,9641.00,0.00,27.0,25295.00,341.23,20.0
3,Appeal - December,1: Individual Giving,NaN,0.00,NaN,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,NaN,0.00,NaN,8544.94,1499.08,36.0
5,Online event - Starfish Search,1: Individual Giving,NaN,0.00,NaN,1268.00,7.50,50.0
6,Online event - Starfish Bracket Challenge,1: Individual Giving,NaN,0.00,5.0,1115.00,230.00,30.0
7,Lapsed Donors,1: Individual Giving,NaN,0.00,NaN,400.00,0.00,8.0
8,Benefit dinner tickets,1: Individual Giving,1919.10,140.00,298.0,2898.02,244.79,240.0
9,Benefit dinner individual donations,1: Individual Giving,7596.29,0.00,0.0,654.11,0.00,0.0
10,Benefit dinner auction,1: Individual Giving,9808.13,2164.97,14.0,0.00,7078.09,138.0
11,Events - CT/NE,1: Individual Giving,NaN,0.00,NaN,309.00,22.00,10.0
12,Events - not recurring,1: Individual Giving,309.30,0.00,0.0,2920.00,3578.27,60.0
13,Events - Ecuador,1: Individual Giving,0.00,0.00,0.0,1213.60,0.00,80.0
14,Birthdays and weddings,1: Individual Giving,1667.52,0.00,3.0,6049.31,0.00,3.0
15,Unsolicited Gifts,1: Individual Giving,5178.48,0.00,3.0,30005.66,0.00,3.0
16,Benefit dinner sponsorships (5),2: Major Donors,3000.00,0.00,3.0,47000.00,0.00,54.0
17,University Efforts,2: Major Donors,NaN,0.00,1.0,1016.00,0.00,1.0
18,Grants,3: Grants,750.00,0.00,6.0,0.00,0.00,1.0
19,Benefit dinner sponsorships (1),4: Corporations,520.56,0.00,1.0,0.00,0.00,0.0
20,Matching donations (10),4: Corporations,2413.26,0.00,6.0,1769.19,0.00,6.0
21,Ecua vols/visitors,5: Earned Revenue,0.00,0.00,0.0,5487.46,0.00,NaN
22,Benefit dinner item sales,5: Earned Revenue,514.62,0.00,1.0,86.44,704.94,10.0
23,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0,5.00,0.00,1.0
24,Dream Book sales,5: Earned Revenue,0.00,0.00,1.0,0.00,0.00,10.0
25,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0,0.00,0.00,1.0
26,Photo sales,5: Earned Revenue,0.00,0.00,1.0,40.00,0.00,10.0
27,Speaking events,5: Earned Revenue,0.00,0.00,0.0,414.00,0.00,4.0
28,Amazon Smile,5: Earned Revenue,32.35,0.00,1.0,192.33,0.00,1.0
29,CafePress,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.0
30,Goodshop,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Thank-a-thon,No bucket,NaN,NaN,NaN,NaN,NaN,NaN
33,4th quarter press,No bucket,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,12420.45,0.00,30.0,25213.95,0.00,75.0,0.144,0.000,0.084
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,NaN,0.00,NaN,3610.00,3.50,20.0,0.021,0.000,0.022
2,Appeal - June,1: Individual Giving,9641.00,0.00,27.0,25295.00,341.23,20.0,0.144,0.024,0.022
3,Appeal - December,1: Individual Giving,NaN,0.00,NaN,9637.11,459.55,20.0,0.055,0.032,0.022
4,Online appeal - Giving Tuesday,1: Individual Giving,NaN,0.00,NaN,8544.94,1499.08,36.0,0.049,0.106,0.040
5,Online event - Starfish Search,1: Individual Giving,NaN,0.00,NaN,1268.00,7.50,50.0,0.007,0.001,0.056
6,Online event - Starfish Bracket Challenge,1: Individual Giving,NaN,0.00,5.0,1115.00,230.00,30.0,0.006,0.016,0.034
7,Lapsed Donors,1: Individual Giving,NaN,0.00,NaN,400.00,0.00,8.0,0.002,0.000,0.009
8,Benefit dinner tickets,1: Individual Giving,1919.10,140.00,298.0,2898.02,244.79,240.0,0.017,0.017,0.269
9,Benefit dinner individual donations,1: Individual Giving,7596.29,0.00,0.0,654.11,0.00,0.0,0.004,0.000,0.000
10,Benefit dinner auction,1: Individual Giving,9808.13,2164.97,14.0,0.00,7078.09,138.0,0.000,0.500,0.155
11,Events - CT/NE,1: Individual Giving,NaN,0.00,NaN,309.00,22.00,10.0,0.002,0.002,0.011
12,Events - not recurring,1: Individual Giving,309.30,0.00,0.0,2920.00,3578.27,60.0,0.017,0.253,0.067
13,Events - Ecuador,1: Individual Giving,0.00,0.00,0.0,1213.60,0.00,80.0,0.007,0.000,0.090
14,Birthdays and weddings,1: Individual Giving,1667.52,0.00,3.0,6049.31,0.00,3.0,0.035,0.000,0.003
15,Unsolicited Gifts,1: Individual Giving,5178.48,0.00,3.0,30005.66,0.00,3.0,0.171,0.000,0.003
16,Benefit dinner sponsorships (5),2: Major Donors,3000.00,0.00,3.0,47000.00,0.00,54.0,0.268,0.000,0.061
17,University Efforts,2: Major Donors,NaN,0.00,1.0,1016.00,0.00,1.0,0.006,0.000,0.001
18,Grants,3: Grants,750.00,0.00,6.0,0.00,0.00,1.0,0.000,0.000,0.001
19,Benefit dinner sponsorships (1),4: Corporations,520.56,0.00,1.0,0.00,0.00,0.0,0.000,0.000,0.000
20,Matching donations (10),4: Corporations,2413.26,0.00,6.0,1769.19,0.00,6.0,0.010,0.000,0.007
21,Ecua vols/visitors,5: Earned Revenue,0.00,0.00,0.0,5487.46,0.00,NaN,0.031,0.000,NaN
22,Benefit dinner item sales,5: Earned Revenue,514.62,0.00,1.0,86.44,704.94,10.0,0.000,0.050,0.011
23,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0,5.00,0.00,1.0,0.000,0.000,0.001
24,Dream Book sales,5: Earned Revenue,0.00,0.00,1.0,0.00,0.00,10.0,0.000,0.000,0.011
25,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0,0.00,0.00,1.0,0.000,0.000,0.001
26,Photo sales,5: Earned Revenue,0.00,0.00,1.0,40.00,0.00,10.0,0.000,0.000,0.011
27,Speaking events,5: Earned Revenue,0.00,0.00,0.0,414.00,0.00,4.0,0.002,0.000,0.004
28,Amazon Smile,5: Earned Revenue,32.35,0.00,1.0,192.33,0.00,1.0,0.001,0.000,0.001
29,CafePress,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.0,0.000,0.000,0.000
30,Goodshop,5: Earned Revenue,0.00,0.00,0.0,0.00,0.00,0.0,0.000,0.000,0.000
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Thank-a-thon,No bucket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4th quarter press,No bucket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

FY20_bucket_totals

,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
Bucket,,,,,,,,,
1: Individual Giving,48540.27,2304.97,380.0,"$119,133.70","$13,464.01",793.0,68.1%,95.1%,88.7%
2: Major Donors,3000.00,0.00,4.0,"$48,016.00",$0.00,55.0,27.4%,0.0%,6.2%
3: Grants,750.00,0.00,6.0,$0.00,$0.00,1.0,0.0%,0.0%,0.1%
4: Corporations,2933.82,0.00,7.0,"$1,769.19",$0.00,6.0,1.0%,0.0%,0.7%
5: Earned Revenue,551.97,0.00,6.0,"$6,225.23",$704.94,37.0,3.4%,5.0%,4.0%
No bucket,0.00,0.00,0.0,$0.00,$0.00,0.0,0.0%,0.0%,0.0%

In [5]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)
FY20_bucket_ave

,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
Bucket,,,,,,
1: Individual Giving,5393.363333,144.060625,38.0,"$7,445.86",$841.50,49.6
2: Major Donors,3000.000000,0.000000,2.0,"$24,008.00",$0.00,27.5
3: Grants,750.000000,0.000000,6.0,$0.00,$0.00,1.0
4: Corporations,1466.910000,0.000000,3.5,$884.60,$0.00,3.0
5: Earned Revenue,55.197000,0.000000,0.6,$622.52,$70.49,4.1
No bucket,NaN,NaN,NaN,$nan,$nan,nan