In [8]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 07.21.20.csv"
donation_data = pd.read_csv(step2)
donation_data.head()

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,"$12,420.45",$0.00,30.0,"$25,213.95",$0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,NaN,$0.00,NaN,"$3,610.00",$3.50,20.0
2,Appeal - June,1: Individual Giving,"$9,641.00",$0.00,27.0,"$25,295.00",$341.23,20.0
3,Appeal - December,1: Individual Giving,NaN,$0.00,NaN,"$9,637.11",$459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,NaN,$0.00,NaN,"$8,544.94","$1,499.08",36.0

In [21]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations.head()

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0

In [22]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations.head()

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.144,0.000,0.084
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.021,0.000,0.022
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0,0.144,0.024,0.022
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.055,0.032,0.022
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.049,0.106,0.040

In [23]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

FY20_bucket_totals.to_csv("./Excel/Buckets-FY20-totals.csv", encoding="utf-8", index=False)
FY20_bucket_totals

,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$119,133.70","$13,464.01",793.0,68.1%,95.1%,88.7%
2: Major Donors,"$48,016.00",$0.00,55.0,27.4%,0.0%,6.2%
3: Grants,$0.00,$0.00,1.0,0.0%,0.0%,0.1%
4: Corporations,"$1,769.19",$0.00,6.0,1.0%,0.0%,0.7%
5: Earned Revenue,"$6,225.23",$704.94,37.0,3.4%,5.0%,4.0%
No bucket,$0.00,$0.00,0.0,0.0%,0.0%,0.0%

In [24]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)

FY20_bucket_ave.to_csv("./Excel/Buckets-FY20-avg.csv", encoding="utf-8", index=False)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $7,445.86                $841.50                 49.6
2: Major Donors       $24,008.00                  $0.00                 27.5
3: Grants                  $0.00                  $0.00                  1.0
4: Corporations          $884.60                  $0.00                  3.0
5: Earned Revenue        $622.52                 $70.49                  4.1
No bucket                   $nan                   $nan                  nan