In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 08.07.20.csv"
donation_data = pd.read_csv(step2)
donation_data.head()

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,"$12,420.45",$0.00,30,"$25,213.95",$0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,coming soon,$0.00,coming soon,"$3,610.00",$3.50,20.0
2,Appeal - June,1: Individual Giving,"$9,641.00",$0.00,27,"$25,295.00",$341.23,20.0
3,Appeal - December,1: Individual Giving,coming soon,$0.00,coming soon,"$9,637.11",$459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,coming soon,$0.00,coming soon,"$8,544.94","$1,499.08",36.0

In [4]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations.head()

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0

In [5]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations.head()

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.109,0.000,0.069
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.016,0.000,0.018
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0,0.109,0.021,0.018
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.042,0.028,0.018
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.037,0.091,0.033

In [6]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()
FY20_bucket_totals = FY20_bucket_totals[["Income FY20", "Income_Percentage", "In-Kind Donations FY20", "InKind_Percentage", "Volunteer Hours FY20", "VolHours_Percentage"]]

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

FY20_bucket_totals.to_csv("./ExcelOutputs/Buckets-FY20-totals.csv", encoding="utf-8", index=True)
FY20_bucket_totals

,Income FY20,Income_Percentage,In-Kind Donations FY20,InKind_Percentage,Volunteer Hours FY20,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$133,907.57",57.8%,"$16,233.85",98.9%,1015.0,92.9%
2: Major Donors,"$88,516.00",38.1%,$0.00,0.0%,31.0,2.8%
3: Grants,$0.00,0.0%,$0.00,0.0%,1.0,0.1%
4: Corporations,"$2,269.19",1.0%,$0.00,0.0%,7.0,0.6%
5: Earned Revenue,"$7,321.79",3.2%,$159.60,1.0%,37.0,3.4%
No bucket,$0.00,0.0%,$0.00,0.0%,0.0,0.0%

In [7]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)

FY20_bucket_ave.to_csv("./ExcelOutputs/Buckets-FY20-avg.csv", encoding="utf-8", index=True)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $8,369.22              $1,014.62                 63.4
2: Major Donors       $44,258.00                  $0.00                 15.5
3: Grants                  $0.00                  $0.00                  1.0
4: Corporations        $1,134.60                  $0.00                  3.5
5: Earned Revenue        $732.18                 $15.96                  4.1
No bucket                   $nan                   $nan                  nan

In [13]:
FY21_FY20 = donation_data
FY21_FY20.replace(regex=['coming soon'], value=np.nan, inplace=True)
FY21_FY20.dropna(inplace=True)
FY21_FY20

FY21_FY20[FY21_FY20.columns[2:7]] = FY21_FY20[FY21_FY20.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)


FY21_FY20_buckets = FY21_FY20.groupby(['Bucket'])
FY21vFY20_to_date = FY21_FY20_buckets.sum()
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['Income FY21']/FY21vFY20_to_date['Income FY20']
FY21vFY20_to_date = FY21vFY20_to_date[['Income FY21', 'Income FY20', 'FY21 as % of FY20', 'In-Kind Donations FY21', 'In-Kind Donations FY20', 'Volunteer Hours FY21', 'Volunteer Hours FY20']]

FY21vFY20_to_date["Income FY21"] = FY21vFY20_to_date["Income FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["In-Kind Donations FY21"] = FY21vFY20_to_date["In-Kind Donations FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["Income FY20"] = FY21vFY20_to_date["Income FY20"].map("${:,.2f}".format)
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['FY21 as % of FY20'].map("{:,.1%}".format)
FY21vFY20_to_date["In-Kind Donations FY20"] = FY21vFY20_to_date["In-Kind Donations FY20"].map("${:,.2f}".format)

FY21vFY20_to_date.to_csv("./ExcelOutputs/FY21vFY20_to_date_08.08.20.csv", encoding="utf-8", index=True)
FY21vFY20_to_date

,Income FY21,Income FY20,FY21 as % of FY20,In-Kind Donations FY21,In-Kind Donations FY20,Volunteer Hours FY21,Volunteer Hours FY20
Bucket,,,,,,,
1: Individual Giving,"$52,092.40","$109,023.52",47.8%,"$9,627.85","$14,012.22",753.0,841.0
2: Major Donors,"$50,000.00","$87,500.00",57.1%,$0.00,$0.00,57.0,30.0
3: Grants,$750.00,$0.00,inf%,$0.00,$0.00,6.0,1.0
4: Corporations,"$2,933.82","$2,269.19",129.3%,$0.00,$0.00,7.0,7.0
5: Earned Revenue,$638.41,"$1,834.33",34.8%,$704.94,$159.60,16.0,37.0

In [15]:
FY21vFY20_campaigns = donation_data.dropna(how='any')
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['Income FY21']/FY21vFY20_campaigns['Income FY20']
FY21vFY20_campaigns = FY21vFY20_campaigns[['Bucket', 'Campaign Name', 'Income FY21', 'Income FY20', 'FY21 as % of FY20']]

FY21vFY20_campaigns["Income FY21"] = FY21vFY20_campaigns["Income FY21"].map("${:,.2f}".format)
FY21vFY20_campaigns["Income FY20"] = FY21vFY20_campaigns["Income FY20"].map("${:,.2f}".format)
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['FY21 as % of FY20'].map("{:,.1%}".format)

FY21vFY20_campaigns.to_csv("./ExcelOutputs/FY21vFY20_campaigns_08.08.20.csv", encoding="utf-8", index=True)
FY21vFY20_campaigns

,Bucket,Campaign Name,Income FY21,Income FY20,FY21 as % of FY20
0,1: Individual Giving,Sponsor a Scholar,"$12,420.45","$25,213.95",49.3%
2,1: Individual Giving,Appeal - June,"$9,641.00","$25,295.00",38.1%
8,1: Individual Giving,Benefit dinner tickets,"$4,817.12","$4,010.00",120.1%
9,1: Individual Giving,Benefit dinner individual donations,"$8,250.40","$2,825.00",292.0%
10,1: Individual Giving,Benefit dinner auction,"$9,808.13","$11,491.00",85.4%
12,1: Individual Giving,Events - not recurring,$309.30,"$2,920.00",10.6%
13,1: Individual Giving,Events - Ecuador,$0.00,"$1,213.60",0.0%
14,1: Individual Giving,Birthdays and weddings,"$1,667.52","$6,049.31",27.6%
15,1: Individual Giving,Unsolicited Gifts,"$5,178.48","$30,005.66",17.3%
16,2: Major Donors,Benefit dinner sponsorships (5),"$50,000.00","$87,500.00",57.1%
18,3: Grants,Grants,$750.00,$0.00,inf%
19,4: Corporations,Benefit dinner sponsorships (1),$520.56,$500.00,104.1%
20,4: Corporations,Matching donations (10),"$2,413.26","$1,769.19",136.4%
22,5: Earned Revenue,Benefit dinner item sales,$601.06,"$1,183.00",50.8%
23,5: Earned Revenue,Pura Vida sales,$5.00,$5.00,100.0%
24,5: Earned Revenue,Dream Book sales,$0.00,$0.00,nan%
25,5: Earned Revenue,Popsocket sales,$0.00,$0.00,nan%
26,5: Earned Revenue,Photo sales,$0.00,$40.00,0.0%
27,5: Earned Revenue,Speaking events,$0.00,$414.00,0.0%
28,5: Earned Revenue,Amazon Smile,$32.35,$192.33,16.8%
29,5: Earned Revenue,CafePress,$0.00,$0.00,nan%
30,5: Earned Revenue,Goodshop,$0.00,$0.00,nan%