In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Sources/Fundraising Strategy - Step 2, 09.05.20.csv"
donation_data = pd.read_csv(step2)
donation_data.head()

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Expenses FY20
0,Sponsor a Scholar,1: Individual Giving,"$15,127.99",$0.00,30,$0.00,"$25,213.95",$0.00,75.0,$0.00
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,"$2,520.00",$0.00,coming soon,$0.00,"$3,610.00",$3.50,20.0,$0.00
2,Appeal - June,1: Individual Giving,"$5,526.00",$0.00,27,$210.06,"$2,095.00",$341.23,20.0,$0.00
3,Appeal - December,1: Individual Giving,coming soon,$0.00,coming soon,$0.00,"$9,637.11",$459.55,20.0,$224.92
4,Online appeal - Giving Tuesday,1: Individual Giving,coming soon,$0.00,coming soon,$0.00,"$8,544.94","$1,499.08",36.0,$25.50

In [2]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations.head()

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,2095.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0

In [3]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.054,0.000,0.068
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.008,0.000,0.018
2,Appeal - June,1: Individual Giving,2095.00,341.23,20.0,0.005,0.010,0.018
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.021,0.014,0.018
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.018,0.046,0.033
5,Online event - Starfish Search,1: Individual Giving,1268.00,7.50,50.0,0.003,0.000,0.046
6,Online event - Starfish Bracket Challenge,1: Individual Giving,1115.00,230.00,30.0,0.002,0.007,0.027
7,Lapsed Donors,1: Individual Giving,400.00,0.00,8.0,0.001,0.000,0.007
8,Benefit dinner tickets,1: Individual Giving,4010.00,540.13,300.0,0.009,0.016,0.273
9,Benefit dinner individual donations,1: Individual Giving,2825.00,0.00,0.0,0.006,0.000,0.000
10,Benefit dinner auction,1: Individual Giving,11491.00,9552.59,300.0,0.025,0.291,0.273
11,Events - CT/NE,1: Individual Giving,309.00,22.00,10.0,0.001,0.001,0.009
12,Events - not recurring,1: Individual Giving,2920.00,3578.27,60.0,0.006,0.109,0.055
13,Events - Ecuador,1: Individual Giving,1213.60,0.00,80.0,0.003,0.000,0.073
14,Birthdays and weddings,1: Individual Giving,6049.31,0.00,3.0,0.013,0.000,0.003
15,Unsolicited Gifts,1: Individual Giving,7505.66,0.00,3.0,0.016,0.000,0.003
16,Benefit dinner sponsorships (5),2: Major Donors,87500.00,0.00,30.0,0.189,0.000,0.027
17,University Efforts,2: Major Donors,1016.00,0.00,1.0,0.002,0.000,0.001
18,Other Major Donors,2: Major Donors,44200.00,0.00,0.0,0.095,0.000,0.000
19,Grants,3: Grants,1500.00,0.00,1.0,0.003,0.000,0.001
20,Benefit dinner sponsorships (1),4: Corporations,500.00,0.00,1.0,0.001,0.000,0.001
21,Matching donations (10),4: Corporations,1769.19,0.00,6.0,0.004,0.000,0.005
22,Ecua vols/visitors,5: Earned Revenue,5487.46,0.00,6.0,0.012,0.000,0.005
23,Benefit dinner item sales,5: Earned Revenue,1183.00,159.60,10.0,0.003,0.005,0.009
24,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0,0.000,0.000,0.001
25,Dream Book sales,5: Earned Revenue,0.00,0.00,10.0,0.000,0.000,0.009
26,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0,0.000,0.000,0.001
27,Photo sales,5: Earned Revenue,40.00,0.00,10.0,0.000,0.000,0.009
28,Mask sales,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000
29,Speaking events,5: Earned Revenue,414.00,0.00,4.0,0.001,0.000,0.004
30,Amazon Smile,5: Earned Revenue,192.33,0.00,1.0,0.000,0.000,0.001
31,CafePress,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000
32,Goodshop,5: Earned Revenue,0.00,0.00,0.0,0.000,0.000,0.000
33,NaN,NaN,232014.55,16393.45,NaN,0.500,0.499,NaN
34,Thank-a-thon,No bucket,NaN,68.76,NaN,NaN,0.002,NaN
35,4th quarter press,No bucket,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()
FY20_bucket_totals = FY20_bucket_totals[["Income FY20", "Income_Percentage", "In-Kind Donations FY20", "InKind_Percentage", "Volunteer Hours FY20", "VolHours_Percentage"]]

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

FY20_bucket_totals.to_csv("./ExcelOutputs/Buckets-FY20-totals.csv", encoding="utf-8", index=True)
FY20_bucket_totals

,Income FY20,Income_Percentage,In-Kind Donations FY20,InKind_Percentage,Volunteer Hours FY20,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$88,207.57",19.1%,"$16,233.85",49.4%,1015.0,92.4%
2: Major Donors,"$132,716.00",28.6%,$0.00,0.0%,31.0,2.8%
3: Grants,"$1,500.00",0.3%,$0.00,0.0%,1.0,0.1%
4: Corporations,"$2,269.19",0.5%,$0.00,0.0%,7.0,0.6%
5: Earned Revenue,"$7,321.79",1.6%,$159.60,0.5%,43.0,3.9%
No bucket,$0.00,0.0%,$68.76,0.2%,0.0,0.0%

In [5]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)

FY20_bucket_ave.to_csv("./ExcelOutputs/Buckets-FY20-avg.csv", encoding="utf-8", index=True)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $5,512.97              $1,014.62                 63.4
2: Major Donors       $44,238.67                  $0.00                 10.3
3: Grants              $1,500.00                  $0.00                  1.0
4: Corporations        $1,134.60                  $0.00                  3.5
5: Earned Revenue        $665.62                 $14.51                  3.9
No bucket                   $nan                 $68.76                  nan

In [9]:
FY21_FY20 = donation_data
FY21_FY20.replace(regex=['coming soon'], value=np.nan, inplace=True)
FY21_FY20.dropna(inplace=True)
FY21_FY20

FY21_FY20[FY21_FY20.columns[2:7]] = FY21_FY20[FY21_FY20.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)


FY21_FY20_buckets = FY21_FY20.groupby(['Bucket'])
FY21vFY20_to_date = FY21_FY20_buckets.sum()
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['Income FY21']/FY21vFY20_to_date['Income FY20']
FY21vFY20_to_date = FY21vFY20_to_date[['Income FY21', 'Income FY20', 'FY21 as % of FY20', 'In-Kind Donations FY21', 'In-Kind Donations FY20', 'Volunteer Hours FY21', 'Volunteer Hours FY20']]

FY21vFY20_to_date["Income FY21"] = FY21vFY20_to_date["Income FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["In-Kind Donations FY21"] = FY21vFY20_to_date["In-Kind Donations FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["Income FY20"] = FY21vFY20_to_date["Income FY20"].map("${:,.2f}".format)
FY21vFY20_to_date['FY21 as % of FY20'] = FY21vFY20_to_date['FY21 as % of FY20'].map("{:,.1%}".format)
FY21vFY20_to_date["In-Kind Donations FY20"] = FY21vFY20_to_date["In-Kind Donations FY20"].map("${:,.2f}".format)

FY21vFY20_to_date.to_csv("./ExcelOutputs/FY21vFY20_to_date_08.08.20.csv", encoding="utf-8", index=True)
FY21vFY20_to_date

KeyError: "['In-Kind Donations FY20'] not in index"

In [7]:
FY21vFY20_campaigns = donation_data.dropna(how='any')
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['Income FY21']/FY21vFY20_campaigns['Income FY20']
FY21vFY20_campaigns = FY21vFY20_campaigns[['Bucket', 'Campaign Name', 'Income FY21', 'Income FY20', 'FY21 as % of FY20']]

FY21vFY20_campaigns["Income FY21"] = FY21vFY20_campaigns["Income FY21"].map("${:,.2f}".format)
FY21vFY20_campaigns["Income FY20"] = FY21vFY20_campaigns["Income FY20"].map("${:,.2f}".format)
FY21vFY20_campaigns['FY21 as % of FY20'] = FY21vFY20_campaigns['FY21 as % of FY20'].map("{:,.1%}".format)

FY21vFY20_campaigns.to_csv("./ExcelOutputs/FY21vFY20_campaigns_08.08.20.csv", encoding="utf-8", index=True)
FY21vFY20_campaigns

,Bucket,Campaign Name,Income FY21,Income FY20,FY21 as % of FY20
0,1: Individual Giving,Sponsor a Scholar,"$15,127.99","$25,213.95",60.0%
2,1: Individual Giving,Appeal - June,"$5,526.00","$2,095.00",263.8%
8,1: Individual Giving,Benefit dinner tickets,"$4,817.12","$4,010.00",120.1%
9,1: Individual Giving,Benefit dinner individual donations,"$8,250.40","$2,825.00",292.0%
10,1: Individual Giving,Benefit dinner auction,"$9,808.13","$11,491.00",85.4%
12,1: Individual Giving,Events - not recurring,$309.30,"$2,920.00",10.6%
13,1: Individual Giving,Events - Ecuador,$0.00,"$1,213.60",0.0%
14,1: Individual Giving,Birthdays and weddings,"$1,717.52","$6,049.31",28.4%
15,1: Individual Giving,Unsolicited Gifts,"$2,411.48","$7,505.66",32.1%
16,2: Major Donors,Benefit dinner sponsorships (5),"$50,000.00","$87,500.00",57.1%
18,2: Major Donors,Other Major Donors,"$8,000.00","$44,200.00",18.1%
19,3: Grants,Grants,"$7,750.00","$1,500.00",516.7%
20,4: Corporations,Benefit dinner sponsorships (1),$520.56,$500.00,104.1%
21,4: Corporations,Matching donations (10),"$3,348.26","$1,769.19",189.3%
22,5: Earned Revenue,Ecua vols/visitors,$0.00,"$5,487.46",0.0%
23,5: Earned Revenue,Benefit dinner item sales,$601.06,"$1,183.00",50.8%
24,5: Earned Revenue,Pura Vida sales,$10.00,$5.00,200.0%
25,5: Earned Revenue,Dream Book sales,$0.00,$0.00,nan%
26,5: Earned Revenue,Popsocket sales,$20.00,$0.00,inf%
27,5: Earned Revenue,Photo sales,$0.00,$40.00,0.0%
29,5: Earned Revenue,Speaking events,$0.00,$414.00,0.0%
30,5: Earned Revenue,Amazon Smile,$90.85,$192.33,47.2%
31,5: Earned Revenue,CafePress,$0.00,$0.00,nan%
32,5: Earned Revenue,Goodshop,$0.00,$0.00,nan%

In [8]:
# # COMBINE ALL DINNER LINE ITEMS --> hmmmm.....something is not working...
# FY21vFY20_campaigns.drop(['Bucket'], axis=1, inplace=True)

# FY21vFY20_campaigns['Campaign Name'] = FY21vFY20_campaigns['Campaign Name'].replace(to_replace=['Benefit dinner tickets','Benefit dinner individual donations', 'Benefit dinner auction', 'Benefit dinner sponsorships (5)', 'Benefit dinner sponsorships (1)', 'Benefit dinner item sales'],value='Benefit Dinner')

# FY21vFY20_campaigns

In [9]:
# COMBINE ALL SMALL ITEMS FOR SALE (EARNED REVENUE)