In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 08.07.20.csv"
donation_data = pd.read_csv(step2)
donation_data

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,"$12,420.45",$0.00,30,"$25,213.95",$0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,coming soon,$0.00,coming soon,"$3,610.00",$3.50,20.0
2,Appeal - June,1: Individual Giving,"$9,641.00",$0.00,27,"$25,295.00",$341.23,20.0
3,Appeal - December,1: Individual Giving,coming soon,$0.00,coming soon,"$9,637.11",$459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,coming soon,$0.00,coming soon,"$8,544.94","$1,499.08",36.0
5,Online event - Starfish Search,1: Individual Giving,coming soon,$0.00,coming soon,"$1,268.00",$7.50,50.0
6,Online event - Starfish Bracket Challenge,1: Individual Giving,coming soon,$0.00,5,"$1,115.00",$230.00,30.0
7,Lapsed Donors,1: Individual Giving,coming soon,$0.00,coming soon,$400.00,$0.00,8.0
8,Benefit dinner tickets,1: Individual Giving,"$4,817.12",$384.79,538,"$4,010.00",$540.13,300.0
9,Benefit dinner individual donations,1: Individual Giving,"$8,250.40",$0.00,0,"$2,825.00",$0.00,0.0
10,Benefit dinner auction,1: Individual Giving,"$9,808.13","$9,243.06",152,"$11,491.00","$9,552.59",300.0
11,Events - CT/NE,1: Individual Giving,coming soon,$0.00,coming soon,$309.00,$22.00,10.0
12,Events - not recurring,1: Individual Giving,$309.30,$0.00,0,"$2,920.00","$3,578.27",60.0
13,Events - Ecuador,1: Individual Giving,$0.00,$0.00,0,"$1,213.60",$0.00,80.0
14,Birthdays and weddings,1: Individual Giving,"$1,667.52",$0.00,3,"$6,049.31",$0.00,3.0
15,Unsolicited Gifts,1: Individual Giving,"$5,178.48",$0.00,3,"$30,005.66",$0.00,3.0
16,Benefit dinner sponsorships (5),2: Major Donors,"$50,000.00",$0.00,57,"$87,500.00",$0.00,30.0
17,University Efforts,2: Major Donors,coming soon,$0.00,1,"$1,016.00",$0.00,1.0
18,Grants,3: Grants,$750.00,$0.00,6,$0.00,$0.00,1.0
19,Benefit dinner sponsorships (1),4: Corporations,$520.56,$0.00,1,$500.00,$0.00,1.0
20,Matching donations (10),4: Corporations,"$2,413.26",$0.00,6,"$1,769.19",$0.00,6.0
21,Ecua vols/visitors,5: Earned Revenue,$0.00,$0.00,0,"$5,487.46",$0.00,NaN
22,Benefit dinner item sales,5: Earned Revenue,$601.06,$704.94,11,"$1,183.00",$159.60,10.0
23,Pura Vida sales,5: Earned Revenue,$5.00,$0.00,1,$5.00,$0.00,1.0
24,Dream Book sales,5: Earned Revenue,$0.00,$0.00,1,$0.00,$0.00,10.0
25,Popsocket sales,5: Earned Revenue,$0.00,$0.00,1,$0.00,$0.00,1.0
26,Photo sales,5: Earned Revenue,$0.00,$0.00,1,$40.00,$0.00,10.0
27,Speaking events,5: Earned Revenue,$0.00,$0.00,0,$414.00,$0.00,4.0
28,Amazon Smile,5: Earned Revenue,$32.35,$0.00,1,$192.33,$0.00,1.0
29,CafePress,5: Earned Revenue,$0.00,$0.00,0,$0.00,$0.00,0.0
30,Goodshop,5: Earned Revenue,$0.00,$0.00,0,$0.00,$0.00,0.0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Thank-a-thon,No bucket,NaN,NaN,NaN,NaN,NaN,NaN
33,4th quarter press,No bucket,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:7]] = FY20_donations[FY20_donations.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0
5,Online event - Starfish Search,1: Individual Giving,1268.00,7.50,50.0
6,Online event - Starfish Bracket Challenge,1: Individual Giving,1115.00,230.00,30.0
7,Lapsed Donors,1: Individual Giving,400.00,0.00,8.0
8,Benefit dinner tickets,1: Individual Giving,4010.00,540.13,300.0
9,Benefit dinner individual donations,1: Individual Giving,2825.00,0.00,0.0
10,Benefit dinner auction,1: Individual Giving,11491.00,9552.59,300.0
11,Events - CT/NE,1: Individual Giving,309.00,22.00,10.0
12,Events - not recurring,1: Individual Giving,2920.00,3578.27,60.0
13,Events - Ecuador,1: Individual Giving,1213.60,0.00,80.0
14,Birthdays and weddings,1: Individual Giving,6049.31,0.00,3.0
15,Unsolicited Gifts,1: Individual Giving,30005.66,0.00,3.0
16,Benefit dinner sponsorships (5),2: Major Donors,87500.00,0.00,30.0
17,University Efforts,2: Major Donors,1016.00,0.00,1.0
18,Grants,3: Grants,0.00,0.00,1.0
19,Benefit dinner sponsorships (1),4: Corporations,500.00,0.00,1.0
20,Matching donations (10),4: Corporations,1769.19,0.00,6.0
21,Ecua vols/visitors,5: Earned Revenue,5487.46,0.00,NaN
22,Benefit dinner item sales,5: Earned Revenue,1183.00,159.60,10.0
23,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0
24,Dream Book sales,5: Earned Revenue,0.00,0.00,10.0
25,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0
26,Photo sales,5: Earned Revenue,40.00,0.00,10.0
27,Speaking events,5: Earned Revenue,414.00,0.00,4.0
28,Amazon Smile,5: Earned Revenue,192.33,0.00,1.0
29,CafePress,5: Earned Revenue,0.00,0.00,0.0
30,Goodshop,5: Earned Revenue,0.00,0.00,0.0
31,NaN,NaN,NaN,NaN,NaN
32,Thank-a-thon,No bucket,NaN,NaN,NaN
33,4th quarter press,No bucket,NaN,NaN,NaN

In [14]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations.head()

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.109,0.000,0.069
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.016,0.000,0.018
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0,0.109,0.021,0.018
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.042,0.028,0.018
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.037,0.091,0.033

In [15]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()
FY20_bucket_totals = FY20_bucket_totals[["Income FY20", "Income_Percentage", "In-Kind Donations FY20", "InKind_Percentage", "Volunteer Hours FY20", "VolHours_Percentage"]]

# FORMATTING
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals["Income_Percentage"] = FY20_bucket_totals["Income_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["InKind_Percentage"] = FY20_bucket_totals["InKind_Percentage"].map("{:,.1%}".format)
FY20_bucket_totals["VolHours_Percentage"] = FY20_bucket_totals["VolHours_Percentage"].map("{:,.1%}".format)

FY20_bucket_totals.to_csv("./Excel/Buckets-FY20-totals.csv", encoding="utf-8", index=True)
FY20_bucket_totals

,Income FY20,Income_Percentage,In-Kind Donations FY20,InKind_Percentage,Volunteer Hours FY20,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$133,907.57",57.8%,"$16,233.85",98.9%,1015.0,92.9%
2: Major Donors,"$88,516.00",38.1%,$0.00,0.0%,31.0,2.8%
3: Grants,$0.00,0.0%,$0.00,0.0%,1.0,0.1%
4: Corporations,"$2,269.19",1.0%,$0.00,0.0%,7.0,0.6%
5: Earned Revenue,"$7,321.79",3.2%,$159.60,1.0%,37.0,3.4%
No bucket,$0.00,0.0%,$0.00,0.0%,0.0,0.0%

In [16]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)

FY20_bucket_ave.to_csv("./Excel/Buckets-FY20-avg.csv", encoding="utf-8", index=True)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $8,369.22              $1,014.62                 63.4
2: Major Donors       $44,258.00                  $0.00                 15.5
3: Grants                  $0.00                  $0.00                  1.0
4: Corporations        $1,134.60                  $0.00                  3.5
5: Earned Revenue        $732.18                 $15.96                  4.1
No bucket                   $nan                   $nan                  nan

In [21]:
FY21_FY20 = donation_data
FY21_FY20 = FY21_FY20.replace(regex=['coming soon'], value=np.nan, inplace=True)
data.dropna(inplace=True)

FY21_FY20[FY21_FY20.columns[2:7]] = FY21_FY20[FY21_FY20.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)


FY21_FY20_buckets = FY21_FY20.groupby(['Bucket'])
FY21vFY20_to_date = FY21_FY20_buckets.sum()
FY21vFY20_to_date = FY21vFY20_to_date[['Income FY21', 'Income FY20', 'In-Kind Donations FY21', 'In-Kind Donations FY20', 'Volunteer Hours FY21', 'Volunteer Hours FY20']]

FY21vFY20_to_date["Income FY21"] = FY21vFY20_to_date["Income FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["In-Kind Donations FY21"] = FY21vFY20_to_date["In-Kind Donations FY21"].map("${:,.2f}".format)
FY21vFY20_to_date["Income FY20"] = FY21vFY20_to_date["Income FY20"].map("${:,.2f}".format)
FY21vFY20_to_date["In-Kind Donations FY20"] = FY21vFY20_to_date["In-Kind Donations FY20"].map("${:,.2f}".format)

# FY21vFY20_to_date.to_csv("./Excel/FY21vFY20_to_date_7.21.20.csv", encoding="utf-8", index=True)
FY21vFY20_to_date

ValueError: could not convert string to float: 'coming soon'

In [18]:
FY21vFY20_campaigns = donation_data.dropna(how='any')
FY21vFY20_campaigns = FY21vFY20_campaigns[['Bucket', 'Campaign Name', 'Income FY21', 'Income FY20']]

# FY21vFY20_campaigns.to_csv("./Excel/FY21vFY20_campaigns_7.21.20.csv", encoding="utf-8", index=True)
FY21vFY20_campaigns

,Bucket,Campaign Name,Income FY21,Income FY20
0,1: Individual Giving,Sponsor a Scholar,"$12,420.45","$25,213.95"
1,1: Individual Giving,Sponsor a Scholar - Fund a Thon,coming soon,"$3,610.00"
2,1: Individual Giving,Appeal - June,"$9,641.00","$25,295.00"
3,1: Individual Giving,Appeal - December,coming soon,"$9,637.11"
4,1: Individual Giving,Online appeal - Giving Tuesday,coming soon,"$8,544.94"
5,1: Individual Giving,Online event - Starfish Search,coming soon,"$1,268.00"
6,1: Individual Giving,Online event - Starfish Bracket Challenge,coming soon,"$1,115.00"
7,1: Individual Giving,Lapsed Donors,coming soon,$400.00
8,1: Individual Giving,Benefit dinner tickets,"$4,817.12","$4,010.00"
9,1: Individual Giving,Benefit dinner individual donations,"$8,250.40","$2,825.00"
10,1: Individual Giving,Benefit dinner auction,"$9,808.13","$11,491.00"
11,1: Individual Giving,Events - CT/NE,coming soon,$309.00
12,1: Individual Giving,Events - not recurring,$309.30,"$2,920.00"
13,1: Individual Giving,Events - Ecuador,$0.00,"$1,213.60"
14,1: Individual Giving,Birthdays and weddings,"$1,667.52","$6,049.31"
15,1: Individual Giving,Unsolicited Gifts,"$5,178.48","$30,005.66"
16,2: Major Donors,Benefit dinner sponsorships (5),"$50,000.00","$87,500.00"
17,2: Major Donors,University Efforts,coming soon,"$1,016.00"
18,3: Grants,Grants,$750.00,$0.00
19,4: Corporations,Benefit dinner sponsorships (1),$520.56,$500.00
20,4: Corporations,Matching donations (10),"$2,413.26","$1,769.19"
22,5: Earned Revenue,Benefit dinner item sales,$601.06,"$1,183.00"
23,5: Earned Revenue,Pura Vida sales,$5.00,$5.00
24,5: Earned Revenue,Dream Book sales,$0.00,$0.00
25,5: Earned Revenue,Popsocket sales,$0.00,$0.00
26,5: Earned Revenue,Photo sales,$0.00,$40.00
27,5: Earned Revenue,Speaking events,$0.00,$414.00
28,5: Earned Revenue,Amazon Smile,$32.35,$192.33
29,5: Earned Revenue,CafePress,$0.00,$0.00
30,5: Earned Revenue,Goodshop,$0.00,$0.00