In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 07.20.20.csv"
donation_data = pd.read_csv(step2)
# donation_data.head()

In [2]:
FY20_donations = donation_data[['Campaign Name', 'Bucket', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
FY20_donations[FY20_donations.columns[2:4]] = FY20_donations[FY20_donations.columns[2:4]].replace('[\$,]', '', regex=True).astype(float)
FY20_donations

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0
5,Online event - Starfish Search,1: Individual Giving,1268.00,7.50,50.0
6,Online event - Starfish Bracket Challenge,1: Individual Giving,1115.00,230.00,30.0
7,Lapsed Donors,1: Individual Giving,400.00,0.00,8.0
8,Benefit dinner tickets,1: Individual Giving,2898.02,244.79,240.0
9,Benefit dinner individual donations,1: Individual Giving,654.11,0.00,0.0
10,Benefit dinner auction,1: Individual Giving,0.00,7078.09,138.0
11,Events - CT/NE,1: Individual Giving,309.00,22.00,10.0
12,Events - not recurring,1: Individual Giving,2920.00,3578.27,60.0
13,Events - Ecuador,1: Individual Giving,1213.60,0.00,NaN
14,Birthdays and weddings,1: Individual Giving,6049.31,0.00,3.0
15,Unsolicited Gifts,1: Individual Giving,30005.66,0.00,3.0
16,Benefit dinner sponsorships (5),2: Major Donors,47000.00,0.00,54.0
17,University Efforts,2: Major Donors,1016.00,0.00,1.0
18,Grants,3: Grants,0.00,0.00,1.0
19,Benefit dinner sponsorships (1),4: Corporations,0.00,0.00,0.0
20,Matching donations (10),4: Corporations,1769.19,0.00,6.0
21,Ecua vols/visitors,5: Earned Revenue,5487.46,0.00,NaN
22,Benefit dinner item sales,5: Earned Revenue,86.44,704.94,10.0
23,Pura Vida sales,5: Earned Revenue,5.00,0.00,1.0
24,Dream Book sales,5: Earned Revenue,0.00,0.00,10.0
25,Popsocket sales,5: Earned Revenue,0.00,0.00,1.0
26,Photo sales,5: Earned Revenue,40.00,0.00,10.0
27,Speaking events,5: Earned Revenue,414.00,0.00,4.0
28,Amazon Smile,5: Earned Revenue,192.33,0.00,1.0
29,CafePress,5: Earned Revenue,0.00,0.00,0.0
30,Goodshop,5: Earned Revenue,0.00,0.00,0.0
31,NaN,NaN,NaN,NaN,NaN
32,Thank-a-thon,No bucket,NaN,NaN,NaN
33,4th quarter press,No bucket,NaN,NaN,NaN

In [5]:
Total_Income = FY20_donations['Income FY20'].sum()
Total_InKind = FY20_donations['In-Kind Donations FY20'].sum()
Total_VolHours = FY20_donations['Volunteer Hours FY20'].sum()

FY20_donations['Income_Percentage'] = round(FY20_donations['Income FY20']/Total_Income,3)
FY20_donations['InKind_Percentage'] = round(FY20_donations['In-Kind Donations FY20']/Total_InKind,3)
FY20_donations['VolHours_Percentage'] = round(FY20_donations['Volunteer Hours FY20']/Total_VolHours,3)
FY20_donations.head()

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Purvi Patel\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Campaign Name,Bucket,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
0,Sponsor a Scholar,1: Individual Giving,25213.95,0.00,75.0,0.144,0.000,0.092
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,3610.00,3.50,20.0,0.021,0.000,0.025
2,Appeal - June,1: Individual Giving,25295.00,341.23,20.0,0.144,0.024,0.025
3,Appeal - December,1: Individual Giving,9637.11,459.55,20.0,0.055,0.032,0.025
4,Online appeal - Giving Tuesday,1: Individual Giving,8544.94,1499.08,36.0,0.049,0.106,0.044

In [6]:
FY20_by_bucket = FY20_donations.groupby(['Bucket'])
FY20_bucket_totals = FY20_by_bucket.sum()
FY20_bucket_totals["Income FY20"] = FY20_bucket_totals["Income FY20"].map("${:,.2f}".format)
FY20_bucket_totals["In-Kind Donations FY20"] = FY20_bucket_totals["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_totals

,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20,Income_Percentage,InKind_Percentage,VolHours_Percentage
Bucket,,,,,,
1: Individual Giving,"$119,133.70","$13,464.01",713.0,0.681,0.951,0.880
2: Major Donors,"$48,016.00",$0.00,55.0,0.274,0.000,0.068
3: Grants,$0.00,$0.00,1.0,0.000,0.000,0.001
4: Corporations,"$1,769.19",$0.00,6.0,0.010,0.000,0.007
5: Earned Revenue,"$6,225.23",$704.94,37.0,0.034,0.050,0.044
No bucket,$0.00,$0.00,0.0,0.000,0.000,0.000

In [10]:
FY20_bucket_ave = FY20_by_bucket.mean()
FY20_bucket_ave = FY20_bucket_ave.drop(['Income_Percentage','InKind_Percentage','VolHours_Percentage'], axis=1)
FY20_bucket_ave["Income FY20"] = FY20_bucket_ave["Income FY20"].map("${:,.2f}".format)
FY20_bucket_ave["In-Kind Donations FY20"] = FY20_bucket_ave["In-Kind Donations FY20"].map("${:,.2f}".format)
FY20_bucket_ave["Volunteer Hours FY20"] = FY20_bucket_ave["Volunteer Hours FY20"].map("{:.1f}".format)
FY20_bucket_ave

                     Income FY20 In-Kind Donations FY20 Volunteer Hours FY20
Bucket
1: Individual Giving   $7,445.86                $841.50                 47.5
2: Major Donors       $24,008.00                  $0.00                 27.5
3: Grants                  $0.00                  $0.00                  1.0
4: Corporations          $884.60                  $0.00                  3.0
5: Earned Revenue        $622.52                 $70.49                  4.1
No bucket                   $nan                   $nan                  nan