In [117]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 08.07.20.csv"
donation_data = pd.read_csv(step2)
# donation_data.head()

In [118]:
expenses_import = "Advancement Calendar - FY21 calendar, 08.08.20.csv"
expenses_data = pd.read_csv(expenses_import)
expenses = expenses_data[['Event', 'Expenses FY21', 'Expenses FY20', 'Funds Raised FY20']]

expenses = expenses.rename(columns={"Event": "Campaign Name"})
expenses.head()

,Campaign Name,Expenses FY21,Expenses FY20,Funds Raised FY20
0,Benefit Dinner (occuring April 2020) (SPANS TW...,$250.00,"$3,220.00","$65,987.57"
1,Sponsor a Scholar - Fund a Thon,$0.00,$0.00,"$3,610.00"
2,Appeal - June,$210.06,$0.00,"$25,295.00"
3,Ecua vols/visitors,$0.00,$25.00,"$5,487.46"
4,Online event - Starfish Search,$0.00,$302.00,"$1,268.00"

In [119]:
income_vs_expense = pd.merge(donation_data, expenses, how="outer", on='Campaign Name')
income_vs_expense = income_vs_expense[['Bucket', 'Campaign Name', 'Expenses FY21', 'Income FY21', 'In-Kind Donations FY21', 'Volunteer Hours FY21', 'Expenses FY20', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']]
income_vs_expense.head()

,Bucket,Campaign Name,Expenses FY21,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY20,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,1: Individual Giving,Sponsor a Scholar,$0.00,"$12,420.45",$0.00,30,$0.00,"$25,213.95",$0.00,75.0
1,1: Individual Giving,Sponsor a Scholar - Fund a Thon,$0.00,coming soon,$0.00,coming soon,$0.00,"$3,610.00",$3.50,20.0
2,1: Individual Giving,Appeal - June,$210.06,"$9,641.00",$0.00,27,$0.00,"$25,295.00",$341.23,20.0
3,1: Individual Giving,Appeal - December,$0.00,coming soon,$0.00,coming soon,$224.92,"$9,637.11",$459.55,20.0
4,1: Individual Giving,Online appeal - Giving Tuesday,$0.00,coming soon,$0.00,coming soon,$25.50,"$8,544.94","$1,499.08",36.0

In [120]:
# income_vs_expense['Campaign Name'].unique()

In [121]:
del income_vs_expense['Bucket']

x = income_vs_expense.set_index(['Campaign Name'])

Campaigns_to_Analyze = x.loc[['Appeal - June', 'Online appeal - Giving Tuesday', 'Ecua vols/visitors', 'Benefit dinner item sales', 'Benefit Dinner (occuring April 2020) (SPANS TWO FYs)', 'Benefit dinner tickets', 'Benefit dinner individual donations', 'Benefit dinner auction', 'Benefit dinner sponsorships (5)', 'Benefit dinner sponsorships (1)']]

Campaigns_to_Analyze.replace(regex=['coming soon'], value='0', inplace=True)

Campaigns_to_Analyze

,Expenses FY21,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY20,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
Campaign Name,,,,,,,,
Appeal - June,$210.06,"$9,641.00",$0.00,27,$0.00,"$25,295.00",$341.23,20.0
Online appeal - Giving Tuesday,$0.00,0,$0.00,0,$25.50,"$8,544.94","$1,499.08",36.0
Ecua vols/visitors,$0.00,$0.00,$0.00,0,$25.00,"$5,487.46",$0.00,NaN
Benefit dinner item sales,NaN,$601.06,$704.94,11,NaN,"$1,183.00",$159.60,10.0
Benefit Dinner (occuring April 2020) (SPANS TWO FYs),$250.00,NaN,NaN,NaN,"$3,220.00",NaN,NaN,NaN
Benefit dinner tickets,NaN,"$4,817.12",$384.79,538,NaN,"$4,010.00",$540.13,300.0
Benefit dinner individual donations,NaN,"$8,250.40",$0.00,0,NaN,"$2,825.00",$0.00,0.0
Benefit dinner auction,NaN,"$9,808.13","$9,243.06",152,NaN,"$11,491.00","$9,552.59",300.0
Benefit dinner sponsorships (5),NaN,"$50,000.00",$0.00,57,NaN,"$87,500.00",$0.00,30.0
Benefit dinner sponsorships (1),NaN,$520.56,$0.00,1,NaN,$500.00,$0.00,1.0

# June Appeal FY21

In [132]:
June_Appeal = Campaigns_to_Analyze.iloc[0:1,:]
# June_Appeal = June_Appeal[June_Appeal.columns[0:8]].replace('[\$,]', '', regex=True).astype(float)
June_Appeal = June_Appeal[['Expenses FY21', 'Income FY21', 'In-Kind Donations FY21', 'Volunteer Hours FY21']].replace('[\$,]', '', regex=True).astype(float)
June_Appeal

,Expenses FY21,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21
Campaign Name,,,,
Appeal - June,210.06,9641.0,0.0,27.0

# Giving Tuesday FY20 (Copy)

In [123]:
Giving_Tuesday = Campaigns_to_Analyze.iloc[1:2,:]
Giving_Tuesday = Giving_Tuesday[['Expenses FY20', 'Income FY20', 'In-Kind Donations FY20', 'Volunteer Hours FY20']].replace('[\$,]', '', regex=True).astype(float)
Giving_Tuesday

,Expenses FY20,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
Campaign Name,,,,
Online appeal - Giving Tuesday,25.5,8544.94,1499.08,36.0

# Ecuador Volunteers FY20

In [124]:
Ecua_vols = Campaigns_to_Analyze.iloc[2:3,:]
Ecua_vols = Ecua_vols[['Expenses FY20', 'Income FY20', 'In-Kind Donations FY20']].replace('[\$,]', '', regex=True).astype(float)
Ecua_vols['Volunteer Hours FY20'] = 0
Ecua_vols

,Expenses FY20,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
Campaign Name,,,,
Ecua vols/visitors,25.0,5487.46,0.0,0

# Benfit Dinner Item Sales FY21

In [125]:
Dinner_item_sales = Campaigns_to_Analyze.iloc[3:4,:]
Dinner_item_sales = Dinner_item_sales[['Income FY21', 'In-Kind Donations FY21', 'Volunteer Hours FY21']].replace('[\$,]', '', regex=True).astype(float)

Dinner_item_sales['Expenses FY21'] = 0
Dinner_item_sales

,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY21
Campaign Name,,,,
Benefit dinner item sales,601.06,704.94,11.0,0

# Other Dinner Line Items, FY20-21

In [126]:
Benefit_Dinner_Expenses = Campaigns_to_Analyze.iloc[4:5,:]
Benefit_Dinner_Expenses = Benefit_Dinner_Expenses[['Expenses FY21']].replace('[\$,]', '', regex=True).astype(float)
Benefit_Dinner_Expenses

                                                    Expenses FY21
Campaign Name
Benefit Dinner (occuring April 2020) (SPANS TWO...          250.0

In [133]:
Benefit_Dinner_Income = Campaigns_to_Analyze.iloc[5:,:]
Benefit_Dinner_Income = Benefit_Dinner_Income[['Income FY21', 'In-Kind Donations FY21', 'Volunteer Hours FY21']].replace('[\$,]', '', regex=True).astype(float)
Benefit_Dinner_Income.loc['Benefit Dinner Totals'] = Benefit_Dinner_Income.sum()
Benefit_Dinner_Income

,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21
Campaign Name,,,
Benefit dinner tickets,4817.12,384.79,538.0
Benefit dinner individual donations,8250.40,0.00,0.0
Benefit dinner auction,9808.13,9243.06,152.0
Benefit dinner sponsorships (5),50000.00,0.00,57.0
Benefit dinner sponsorships (1),520.56,0.00,1.0
Benefit Dinner Totals,73396.21,9627.85,748.0

In [134]:
Benefit_Dinner = Benefit_Dinner_Income.iloc[5:,:]
dinner_expenses_FY21 = Benefit_Dinner_Expenses.iloc[0,0]
Benefit_Dinner['Expenses FY21'] = dinner_expenses_FY21 
Benefit_Dinner

,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY21
Campaign Name,,,,
Benefit Dinner Totals,73396.21,9627.85,748.0,250.0