In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

step2 = "Fundraising Strategy - Step 2, 08.07.20.csv"
donation_data = pd.read_csv(step2)
donation_data.head()

,Campaign Name,Bucket,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Income FY20,In-Kind Donations FY20,Volunteer Hours FY20
0,Sponsor a Scholar,1: Individual Giving,"$12,420.45",$0.00,30,"$25,213.95",$0.00,75.0
1,Sponsor a Scholar - Fund a Thon,1: Individual Giving,coming soon,$0.00,coming soon,"$3,610.00",$3.50,20.0
2,Appeal - June,1: Individual Giving,"$9,641.00",$0.00,27,"$25,295.00",$341.23,20.0
3,Appeal - December,1: Individual Giving,coming soon,$0.00,coming soon,"$9,637.11",$459.55,20.0
4,Online appeal - Giving Tuesday,1: Individual Giving,coming soon,$0.00,coming soon,"$8,544.94","$1,499.08",36.0

In [26]:
# donation_data[donation_data.columns[2:7]] = donation_data[donation_data.columns[2:7]].replace('[\$,]', '', regex=True).astype(float)
# donation_data

In [27]:
expenses_import = "Advancement Calendar - FY21 calendar, 08.08.20.csv"
expenses_data = pd.read_csv(expenses_import)
expenses = expenses_data[['Event', 'Expenses FY21', 'Expenses FY20', 'Funds Raised FY20']]

expenses = expenses.rename(columns={"Event": "Campaign Name"})
expenses.head()

,Campaign Name,Expenses FY21,Expenses FY20,Funds Raised FY20
0,Benefit Dinner (occuring April 2020) (SPANS TW...,$250.00,"$3,220.00","$65,987.57"
1,Sponsor a Scholar - Fund a Thon,$0.00,$0.00,"$3,610.00"
2,Appeal - June,$210.06,$0.00,"$25,295.00"
3,Ecua vols/visitors,$0.00,$25.00,"$5,487.46"
4,Online event - Starfish Search,$0.00,$302.00,"$1,268.00"

In [29]:
income_vs_expense = pd.merge(donation_data, expenses, how="left", on='Campaign Name')
income_vs_expense = income_vs_expense[['Bucket', 'Campaign Name', 'Expenses FY21', 'Income FY21', 'In-Kind Donations FY21', 'Volunteer Hours FY21', 'Expenses FY20', 'Funds Raised FY20', 'Income FY20', 'In-Kind Donations FY21', 'Volunteer Hours FY21']]
income_vs_expense.head()

,Bucket,Campaign Name,Expenses FY21,Income FY21,In-Kind Donations FY21,Volunteer Hours FY21,Expenses FY20,Funds Raised FY20,Income FY20,In-Kind Donations FY21,Volunteer Hours FY21
0,1: Individual Giving,Sponsor a Scholar,$0.00,"$12,420.45",$0.00,30,$0.00,"$25,213.95","$25,213.95",$0.00,30
1,1: Individual Giving,Sponsor a Scholar - Fund a Thon,$0.00,coming soon,$0.00,coming soon,$0.00,"$3,610.00","$3,610.00",$0.00,coming soon
2,1: Individual Giving,Appeal - June,$210.06,"$9,641.00",$0.00,27,$0.00,"$25,295.00","$25,295.00",$0.00,27
3,1: Individual Giving,Appeal - December,$0.00,coming soon,$0.00,coming soon,$224.92,"$9,637.11","$9,637.11",$0.00,coming soon
4,1: Individual Giving,Online appeal - Giving Tuesday,$0.00,coming soon,$0.00,coming soon,$25.50,"$8,544.94","$8,544.94",$0.00,coming soon

In [22]:
income_vs_expense['Campaign Name'].unique()

array(['Sponsor a Scholar', 'Sponsor a Scholar - Fund a Thon',
       'Appeal - June', 'Appeal - December',
       'Online appeal - Giving Tuesday', 'Online event - Starfish Search',
       'Online event - Starfish Bracket Challenge', 'Lapsed Donors',
       'Benefit dinner tickets', 'Benefit dinner individual donations',
       'Benefit dinner auction', 'Events - CT/NE',
       'Events - not recurring', 'Events - Ecuador',
       'Birthdays and weddings', 'Unsolicited Gifts',
       'Benefit dinner sponsorships (5)', 'University Efforts', 'Grants',
       'Benefit dinner sponsorships (1)', 'Matching donations (10)',
       'Ecua vols/visitors', 'Benefit dinner item sales',
       'Pura Vida sales', 'Dream Book sales', 'Popsocket sales',
       'Photo sales', 'Speaking events', 'Amazon Smile', 'CafePress',
       'Goodshop', nan, 'Thank-a-thon', '4th quarter press'], dtype=object)

In [32]:
# CAN'T FIGURE OUT WHY DROPPING ROWS DONT WORK.....

# income_vs_expense.set_index('Campaign Name')
# income_vs_expense.drop('Sponsor a Scholar', 'Sponsor a Scholar - Fund a Thon', 'Appeal - December', 'Online event - Starfish Search', 'Online event - Starfish Bracket Challenge', 'Lapsed Donors', 'Events - CT/NE', inplace=False)

# # 'Events - not recurring', 'Events - Ecuador', 'Birthdays and weddings', 'Unsolicited Gifts', 'University Efforts', 'Grants', 'nan', 'Thank-a-thon', '4th quarter press'
# income_vs_expense