# Non-Profit Org donation income by month

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

monthly_donations = "donation_data.csv"
donation_data = pd.read_csv(monthly_donations)

In [3]:
donation_data.head()

,FY,April,May,June,July,August,September,October,November,December,January,Februay,March
0,FY15,"$10,186.46","$1,401.27","$5,227.32","$8,971.53","$14,566.87","$6,401.00","$4,301.00",$899.93,"$13,723.05","$20,355.00","$1,006.50","$11,441.38"
1,FY16,"$13,142.04","$3,411.41","$7,615.61","$19,220.64","$5,928.25","$18,355.00","$5,921.23","$19,196.30","$25,008.29","$3,616.66","$4,207.51","$12,504.90"
2,FY17,"$15,958.20","$7,640.55","$7,741.50","$10,241.60","$5,387.55","$8,101.91","$80,701.15","$12,063.94","$11,937.71","$7,866.00","$8,526.81","$8,298.20"
3,FY18,"$25,398.18","$6,634.32","$17,131.36","$9,936.50","$8,769.53","$77,415.00","$6,444.19","$9,070.67","$38,717.80","$4,461.70","$4,063.13","$20,382.79"
4,FY19,"$28,576.33","$4,721.55","$3,573.14","$8,591.17","$11,444.92","$69,055.56","$32,943.97","$6,015.42","$18,838.74","$3,472.01","$4,717.02","$14,472.35"

In [4]:
donation_data.dtypes

FY           object
April        object
May          object
June         object
July         object
August       object
September    object
October      object
November     object
December     object
January      object
Februay      object
March        object
dtype: object

In [ ]:
df = donation_data.set_index(['FY'])
df = df.rename(columns={"Februay":"February"})
df

In [ ]:
df[df.columns[0:]] = df[df.columns[0:]].replace('[\$,]', '', regex=True).astype(float)
df

In [ ]:
df.dtypes

In [ ]:
df = df[['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']] 
df

In [ ]:
FY15 = df.iloc[0]
FY16 = df.iloc[1]
FY17 = df.iloc[2]
FY18 = df.iloc[3]
FY19 = df.iloc[4]
FY20 = df.iloc[5]

In [ ]:
# FY15_array = FY15.to_list()
# FY16_array = FY16.to_list()
# FY17_array = FY17.to_list()
# FY18_array = FY18.to_list()
# FY19_array = FY19.to_list()
# FY20_array = FY20.to_list()

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

fig = plt.figure(figsize=(10,6))

plt.plot(months, FY15, color="blue", label="FY15")
plt.plot(months, FY16, color="red", label="FY16")
plt.plot(months, FY17, color="green", label="FY17")
plt.plot(months, FY18, color="orange", label="FY18")
plt.plot(months, FY19, color="black", label="FY19")
plt.plot(months, FY20, color="magenta", label="FY20")

plt.title("Donations by FY")
plt.xlabel("Month in Fiscal Year")
plt.ylabel("Donations Received ($USD)")


plt.xticks(months, rotation=45)
plt.legend(loc="upper left")

plt.savefig("./Images/fundraising_by_FY.png")
plt.show()

In [ ]:
fig = plt.figure(figsize=(10,6))

plt.plot(months, FY15, color="blue", label="FY15")
plt.plot(months, FY16, color="red", label="FY16")


plt.title("Donations by FY")
plt.xlabel("Month in Fiscal Year")
plt.ylabel("Donations Received ($USD)")


plt.xticks(months, rotation=45)
plt.legend(loc="upper left")

plt.savefig("./Images/FY15-FY16.png")
plt.show()

In [ ]:
fig = plt.figure(figsize=(10,6))

plt.plot(months, FY17, color="green", label="FY17")
plt.plot(months, FY18, color="orange", label="FY18")
plt.plot(months, FY19, color="black", label="FY19")
plt.plot(months, FY20, color="magenta", label="FY20")

plt.title("Donations by FY")
plt.xlabel("Month in Fiscal Year")
plt.ylabel("Donations Received ($USD)")


plt.xticks(months, rotation=45)
plt.legend(loc="upper left")

plt.savefig("./Images/FY17-FY20.png")
plt.show()

In [ ]:
ave_monthly = df.mean()
ave_monthly

In [ ]:
fig = plt.figure(figsize=(10,6))

plt.plot(months, ave_monthly, color="orange")

plt.title("Average Monthly Donations: FY15-FY20")
plt.xlabel("Month in Calendar Year")
plt.ylabel("Donations Received ($USD)")


plt.xticks(months, rotation=45)

plt.savefig("./Images/Ave_FY15-FY20.png")
plt.show()